@import '../../../utils/variables.scss';

.AboutCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;
  text-align: center;
  width: 400px;
  height: 213px;
  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
    color: $primaryColor-orange-1;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
  }
  img {
    width: 40px;
    height: auto;
    margin-bottom: 52px;
  }
}

