.productContainer {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-size: 18px;
    margin: 12px 0px 12px 0px;
    font-weight: 500;
    width: 300px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 24px;
    width: 196px;
    color: #c0c0c0;
    font-weight: 500;
  }
  
  img {
    width: 300px;
    height: 363px;
  }
  img:hover {
    transform: scale(1.1);
  }
}
