@import '../../utils/variables.scss';

.button-container {
    background-color: #EB690A;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Poppins';
  }
  

  .button-container:hover {
    background-color: #FFA724;
  }